nav {
    background-image: linear-gradient(270deg, #13547a 0%, #216b63 100%);
}

.navbar-brand {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

ul li a {
    /* border-right: 1px solid white; */
    padding: 0 2px;
    margin-right: 5px;
}

ul li a:hover {
    background-color: rgb(15, 55, 82);
    color: white;
}

ul li:last-child a {
    margin-right: 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-link {
    padding: 5px 2px;
}

.btn-info {
    border: none;
    background: none;
}

.btn-info img {
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 770px) {
    ul li a {
        border: none;
    }
}